body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #e5f3efd5;
}

.bluegreen-line {
    height: 20px;
    background-color: #39c29c;
    margin: 0;
    opacity: 100%;
}

.cart-container {
    width: 90%;
    max-width: 600px;
    margin: auto;
    background-image: linear-gradient(to right, #065380, #5ea4bb);
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.cart-header {
    background: url("/assets/images/cartpage-banner.jpg") center/cover;
    padding: 40px 20px;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
    text-align: left;
    text-shadow: 2px 2px #2e2828;
}

.cart-header h1 {
    font-size: 42px;
}

.balance {
    font-size: 16px;
}

.cart-header p img {
    height: 20px;
    margin-left: 10px;
}

.back-link {
    display: inline-block;
    margin: 15px 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
}

.cart-content h2 {
    font-size: 18px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.item-count {
    font-size: 14px;
    color: #ffffff;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.item-img {
    width: 60px;
    height: 50px;
    border-radius: 5px;
}

.item-info {
    flex-grow: 1;
    margin-left: 10px;
}

.item-name {
    font-size: 14px;
    font-weight: bold;
    color: #007cc5;
}

.item-price {
    font-size: 12px;
    color: #007cc5;
}

.item-price img {
    height: 1.5vw;
}

.quantity {
    font-size: 12px;
    color: #007cc5;
}

.price {
    font-size: 15px;
    font-weight: bold;
    color: #007cc5;
}

.total-price{
    font-size: 25px;
    color: #f1c71c;
    font-weight: bold;
    text-align: right;
}

.checkout-btn {
    width: 100%;
    background: #39c29c;
    color: white;
    font-size: 16px;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
}

.checkout-btn:hover {
    background: #ffce26;
}

