/* Navbar Styling */
/* Navbar Styling */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0px 40px 0px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out; /* Add transition for smooth effect */
}

#navbar.hide {
    transform: translateY(-100%); /* Move navbar out of view */
}
.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 0;
}

.nav-links li {
    padding-top: 17px;
    margin: 0 15px;
    font-size: 20px;
}

.nav-link .cart-icon {
    font-size: 20px;
    color: #007cc5;
    transition: color 0.3s ease-in-out;
}

.nav-links .cart-icon:hover {
    color: #feca04;
}

.cart-btn {
    font-size: 20px;
    color: #007cc5;
    transition: color 0.3s ease-in-out;
    background-color: white;
    border: none;
    margin-right: 10px;
    width: auto;
    height: 100%;
}

.cart-btn:hover {
    color: #feca04;
}

.nav-links a {
    text-decoration: none;
    color: #007cc5;
    font-weight: bold;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out;
    align-items: center;
}

#nav-links a:hover {
    color: #feca04;
}

.nav-links a.active {
    color: #feca04;
}

.user-buttons {
    display: flex;
    align-items: center;
}

.sign-in-btn {
    background-color: #feca04;
    color: white;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}

.sign-in-btn:hover {
    background-color: #007cc5;
}

.sign-in-btn a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-btn i, .cart-btn i {
    font-size: 18px;
}

.profile-btn {
    background-color: #007cc5; /* Change to your theme color */
    color: white;
    border: none;
    padding: 8px 40px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.profile-btn a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-btn:hover {
    background-color:#feca04; 
}

.profile-btn i {
    font-size: 18px;
}

.cart-icon:hover {
    color: #feca04;
}