body {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0;
    background-color: #e5f3efd5;
}

/* Hero Section Styling */
.carousel-item {
    opacity: 0.8;
    width: 100%;
    height: auto;
    padding: 40px;
}

.carousel-item img {
    border-radius: 10%;
}

.carousel-caption {
    text-align: left;
    left: 5vw; 
    right: auto;
    bottom: 10vw; 
    top: 5vw; 
    width: 90vw; 
    margin-bottom: 3vw; 
    text-shadow: 2px 2px #2e2828;
}

.carousel-caption h1 {
    margin-top: 2vw; 
    font-size: 6vw;
    font-weight: bold;
    z-index: 1000;
}

.carousel-caption p {
    font-size: 2.5vw;
    margin-top: 1vw; 
    z-index: 1000;
}

.bluegreen-line {
    height: 20px;
    background-color: #39c29c;
    margin: 0;
    opacity: 100%;
}

/* Pokéball Button Styling */
#pokeButtonContainer {
    position: absolute;
    bottom: 280px;
    left: 49%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-left: 35px;
    display: flex;
}

#pokeButtonWrapper {
    width: 110px; 
    height: 110px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokeButton {
    width: 100px;
    height: 100px;
    background-color: #007cc5;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2; 
    box-shadow: 0px 0 80px rgba(0, 0, 0, 0.2);
    border: none;
}

/* Pokéball Image Styling */
#pokeButton img {
    width: 80%;
    height: auto;
    pointer-events: none;
    animation: rotateButton 2s infinite linear;
}

/* Border SVG Styling */
#borderSVG {
    position: absolute;
    width: 120px; 
    height: 120px; 
    z-index: 1; 
    pointer-events: none; 

}

/* Border Animation */
circle {
    transition: stroke-dashoffset 0.5s ease;
}

/* Button Animation */
@keyframes rotateButton {
    100% {
        transform: rotate(360deg);
    }
}

#pokeButtonArrow {
    border-radius: 50%;
    width: 35px;
    height: 35px; 
    position: absolute;
    top: 50%; 
    right: -40px;
    transform: translateY(-50%); 
    font-size: 1.5em;
    color: #ed1c24;
    cursor: pointer;
    z-index: 3;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

/* Featured Section */

h3{
    margin-left: 35px;
    font-size: 1.5em;;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color: #007cc5;
}

.featured {
    background-image: linear-gradient(to right, #065380 , #5ea4bb);
    color: white;
    margin: 10px auto 60px;
    width: 150%;
    height: 210px;
    max-width: 900px;
    padding: 60px 70px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.featured-content {
    flex: 1;
}

.featured-image img {
    width: 150px;
    height: 160px;
    left: 30%;
}

.featured-price {
    font-size: 1.2em;
    font-weight: bold;
    background-color: #39c29c;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
    color: white;
}

/* SPECIAL BUNDLES */
.bundles {
    margin: 20px auto;
    width: 90%;
    max-width: 800px;
}

.bundles h2 {
    color: #007cc5;
    font-size: 1.5em;
    margin-bottom: 15px;
    font-weight: bold;
    margin-left: 55px;
}


/* SPECIAL BUNDLE DETAILS */

.bundle-details {
    flex: 1;
    text-align: center;
    margin-left: 55px;
}

.bundle-details img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.bundle-details h4 {
    font-size: 1.2em;
    color: #007cc5;
    font-weight: bold;
    margin-bottom: 5px;
}

.bundle-details p {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 10px;
}

/* SIGN IN BUTTON */
.view-button {
    margin-left: 15px;
    background-color: #39c29c; 
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.view-button:hover {
    background-color: #feca04;
    transform: scale(1.05);
}

.view-button a {
    color: white;
    text-decoration: none;
}

/* SPECIAL BUNDLES ONCE USER IS LOGGED IN */
.bundles {
    text-align: center;
    padding: 20px;
}

.bundle-content {
    display: flex;
    justify-content: center;
    gap: 40px; /* Adds spacing between bundles */
    flex-wrap: wrap;
}

/* Individual bundle card styling */
.bundle-card {
    background-image: url("/assets/images/real-pokemon.png");
    background-size: cover;
    background-position: 50% 9%;
    background-size: 150px;
    background-repeat: no-repeat;
    width: 50vw;
    height: 320px;
    background-color: #d9eee9;
    border-radius: 10px;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(255, 253, 253, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
}

.bundle-card img {
    margin-left: 15px;
    width: 150px;
    height: auto;
    border-radius: 10px;
}

/* Text content */
.bundle-card .content {
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.bundle-card h4 {
    font-size: 2.2em;
    color: #007cc5;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 15px;
}

.bundle-card p {
    font-size: 0.9em;
    color: #333;
    margin-bottom: 10px;
    margin-left: 15px;
}

.buy-button {
    margin-left: 15px;
    background-color: #39c29c; 
    color: white;
    padding: 10px 60px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.2s ease;
}

.buy-button:hover {
    background-color: #feca04;
    transform: scale(1.05);
}

/* Custom Alert Styles */
#customAlert {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.alert-box {
    background: #ffffff; 
    color: #333;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 1002;
    position: relative;
}

.alert-box h2 {
    margin: 0;
    font-size: 20px;
    color: #fed118; 
}

.alert-box p {
    margin: 10px 0;
    font-size: 16px;
}

.alert-box button {
    background: #007bff; 
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1003;
}

.alert-box button:hover {
    background: #0056b3;
}

/* DOWNLOAD BANNER */
.download {
    background-image: linear-gradient(to right, #065380 , #5ea4bb);
    color: white;
    margin: 60px auto;
    width: 80vw;
    height: 210px;
    max-width: 900px;
    padding: 60px 70px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.download-logo {
    width: 180px; 
    height: auto;
    margin-right: 10px;
}

.download-text {
    padding: 50px 90px; 
    flex: 1;
    text-align: center; 
}

.download-text h2 {
    margin-right: 10px;
    font-size: 3em; 
    font-weight: bold;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); 
    letter-spacing: 1px;
}

.app-stores {
    display: flex;
    justify-content: center; 
    gap: 15px; 
    margin-top: 15px;
}


.app-stores button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.app-stores button img {
    width: 120px; 
    height: auto;
    transition: transform 0.2s ease-in-out;
}

/*Galaxy Play Button*/
.app-stores button:nth-child(3) img {
    width: 130px; 
    border-radius: 8px; 
}

/*Google Play Store Button*/
.app-stores button:nth-child(2) img {
    width: 130px; 
    border-radius: 8px; 
}

/*Apple App Store Button*/
.app-stores button:nth-child(1) img {
    width: 130px; 
    height: 37px;
    border-radius: 8px; 
}

/* FOOTER */
.footer {
    background-image: linear-gradient(to right, #528e88 , #41707d, #5396a8);
    padding: 40px;
    padding-top: 30px;
    color: #ffffff;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.footer-content a:hover{
    text-decoration: underline;
}

.footer-links {
    display: flex;
    GAP: 40px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.footer-column a {
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-logos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    width: 70%;
    padding-bottom: 10px;
    margin-left: 10px;
}

.footer-logos img {
    height: 50px; 
    width: auto; 
}

.footer-logos a img[alt="Niantic Logo"] {
    width: 70px;
    height: 80px;
}

.footer-logos img[alt="iGenerate Logo"] {
    width: 90px;
    height: 80px;
}

.footer-logos a img[alt="Pokémon Logo"] {
    width: 100px;
    height: 14px;
}

.footer-social {
    justify-content: flex-end;
    display: flex;
    gap: 15px;
    width: 100%; 
    margin-top: 10px; 
}

.footer-social a {
    display: flex; 
    align-items: center; 
    margin-left: 10px;
}

.footer-social a img {
    width: 24px; 
    height: auto;
    padding-bottom: 10px;
}

.footer-social img[alt="Facebook Logo"]{
    height: 35px;
    width: 35px;
    padding-right: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
}

.footer-bottom-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-bottom-links a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
}

.footer-bottom-links a:hover {
    text-decoration: underline;
    color: #ffffff;
    margin: 0 10px;
}

.footer-bottom p {
    font-size: 0.8em;
    color: #ffffff;
}

/* Responsive Design STARTS HERE*/

/* FINAL - Tablet/iPad (width ≤ 900px) */
@media (max-width: 900px) {

    /* Carousel */
    .carousel-item img {
        width: 100%;
        height: auto;
    }

    .carousel-item h1 {
        font-size: 1.5rem;
        padding-left: 20px;
    }

    .carousel-item p {
        font-size: 1rem;
        padding-left: 20px;
    }

    #pokeButtonContainer {
        position: absolute;
        top: 100px; 
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        margin-left: 0;
    }

    /* Featured items */
    h3{
        margin-right: 50px; /* right margin */
    }

    .featured {
        width: 500px;
        height: 300px;
    }

    .featured-item {
        padding: 1rem;
        font-size: 0.9rem;
    }

    /* Download banner */

    .download {
        width: 500px;
        height: 300px;
        padding: 20px; /* Reduced padding */
        padding-bottom: 60px;
        display: flex; /* Added flexbox for alignment */
        align-items: center; /* Vertically align items */
    }
    
    .download-banner {
        padding: 20px; /* Reduced padding */
        font-size: 15px;
    }
    
    .download-logo {
        width: 150px;
        align-items: center;
        padding-left: 0px;
    }
    
    .download-text h2 {
        margin-right: 0px; 
        font-size: 30px;
        width: auto; 
        padding-right: 50px;
    }
    
    .app-stores {
        display: flex;
        width: 10px;
        height: 10px;
        padding: 0px;
        gap: 5px;
    }
    
    .app-stores button img {
        margin-top: 20px;
        margin-left: -2px;
    }
    
    /* Footer */
    .footer-content {
        padding-left: 90px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-logos {
        justify-content: center;
    }

    .footer-social {
        justify-content: center;
    }
}

/* FINAL SPLIT SCREEN FOR DESKTOPS*/
@media (min-width: 901px) and (max-width: 1200px){
    /* Carousel */
    .carousel-item img {
        width: 100%;
        height: auto;
    }

    .carousel-item h1 {
        font-size: 1.5rem;
        padding-left: 20px;
    }

    .carousel-item p {
        font-size: 1rem;
        padding-left: 20px;
    }

    #pokeButtonContainer {
        position: absolute;
        top: 140px; 
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        margin-left: 0;
    }

    /* Featured items */
    h3{
        margin-right: 20px; /* right margin */
    }

    .featured {
        width: 700px;
        height: 300px;
    }

    .featured-item {
        padding: 1rem;
        font-size: 0.9rem;
    }

    /* Download banner */

    .download {
        width: 700px;
        height: 300px;
        padding: 9px;
        padding-bottom: 60px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .download-banner {
        padding: 40px;
        font-size: 15px;
    }

    .download-logo{
        padding-left: 20px;
        width: 240px;
        margin-right: 30px;
    }

    .download-text h2 {
        text-align: center;
        font-size: 35px;
        margin-top: -20px; 
        padding: 0; 
        max-width: 100%; 
        word-wrap: break-word; 
    }

    .app-stores {
        justify-content: center;
        width: 10px;
        height: 10px;
        gap: 10px
    }

    .app-stores button img{
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
}


/* MOBILE */
@media (max-width: 668px) {
    #navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-links a{
        font-size: 10px;
        text-align: center;
        margin-bottom: 2px;
    }

    .sign-in-btn{
        font-size: 10px;
        padding: 5px 20px;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .profile-btn{
        font-size: 10px;
        padding: 5px 20px;
        margin-bottom: 2px;
        margin-top: 2px;
    }

    .bluegreen-line {
        height: 10px;
    }
    
    .carousel-item img {
        width: 100vh;
        height: auto;
    }
    
    .carousel-item {
        padding: 10px; 
    }

    .carousel-caption {
        left: 3vw;
        bottom: 5vw;
        top: 3vw;
        width: 94vw;
    }

    .carousel-caption h1 {
        font-size: 4.5vw; 
    }

    .carousel-caption p {
        font-size: 3vw; 
    }

    #pokeButtonContainer {
        position: absolute;
        top: -10px; 
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        margin-left: 0;
    }

    #pokeButton {
        width: 50px;
        height: 50px;
    }

    #pokeButton img {
        width: 60%;
    }

    #borderSVG {
        width: 60px; 
        height: 60px; 
    }

    #pokeButtonArrow {
        width: 20px;
        height: 20px; 
        right: 10px;
        font-size: 1em;
    }

    /* Featured */
    h3{
        margin-left: 60px;
        font-size: 1.2em;
    }

    .featured {
        margin: 45px;
        width: 400px;
        height: 350px;
        padding: 20px;
        margin-top: 10px;
        flex-direction: column;
    }

    .featured-content {
        padding: 10px;
        text-align: center;
    }

    .featured-image img {
        width: 100px;
        height: 100px;
    }

    .price {
        margin-bottom: -10px;
        font-size: 1em;
        padding: 5px 10px;
    }

    /* SPECIAL BUNDLES */
    .bundles {
        margin: 20px auto;
        width: 90%;
        max-width: 800px;
    }

    .bundles h2 {
        margin-left: 1px;
        font-size: 1.2em;
    }

    /* SPECIAL BUNDLE DETAILS */
    .view-button {
        margin-left: 5px;
        background-color: #39c29c; 
        color: white;
        padding: 10px 15px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        font-size: 1em;
        font-weight: bold;
        transition: background 0.3s ease, transform 0.2s ease;
    }

    .view-button a {
        color: white;
    }

    /* SPECIAL BUNDLES ONCE USER IS LOGGED IN */
     .bundles {
        text-align: center;
        padding: 20px;
    }

    .bundle-content {
        display: flex;
        justify-content: center;
        gap: 40px; /* Adds spacing between bundles */
        flex-wrap: wrap;
        margin-right: 30px;
    }

    /* Individual bundle card styling */

    .bundle-card {
        background-image: url("/assets/images/real-pokemon.png");
        width: 90vw;
        height: 320px;
        margin-left: 20px;
        background-color: #d9eee9;
    }

    .bundle-card img {
        margin-left: 25px;
        width: 150px;
        height: auto;
        border-radius: 10px;
    }

    /* Text content */
    .bundle-card .content {
        position: absolute;
        bottom: 15px;
        width: 100%;
    }

    .bundle-card h4 {
        font-size: 1.5em;
        margin-left: 15px;
    }

    .bundle-card p {
        font-size: 0.9em;
        margin-left: 15px;
    }

    .buy-button {
        margin-left: 15px;
    }
    
    /* DOWNLOAD BANNER */
    .app-stores {
        flex-wrap: wrap; /* Ensures buttons wrap properly */
        gap: 4px; 
    }

    .download {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 45px;
        width: 400px;
        height: 350px;
        padding: 20px;
        margin-bottom: 20px;
    }

    .download-logo {
        width: 150px; 
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .download-text h2 {
        font-size: 1.5em; 
        width: 150%; 
        margin-top: -50px;
        margin-left: -20px;
        margin-bottom: 55px;
    }

    /*Galaxy Play Button*/
    .app-stores button:nth-child(3) img {
        width: 100px; 
        height: 30px;
        margin-left: 160px; 
        margin-top: -90px;
    }

    /*Google Play Store Button*/
    .app-stores button:nth-child(2) img {
        width: 100px; 
        height: 30px; 
        margin-left: 160px;
        margin-bottom: -30px; 
    }

    /*Apple App Store Button*/
    .app-stores button:nth-child(1) img {
        width: 100px; 
        height: 30px; 
        margin-left: 160px;
        margin-top: -80px;
    }

    /* Footer */
    .footer-content{
        margin-right: 50px;
        justify-content: space-between;
    }

    .footer-logos img{
        margin-right: 50px;
    }

    .footer-social a img {
        margin-right: 50px;
    }

    .footer-bottom-links {
        text-align: center;
        padding-bottom: 10px;
    }
}